.thumbnail img {
  width: 100%;
  height: 15em;
}
.show-thumbnail {
  padding: 0;
}
.show-thumbnail img {
  width: 100%;
  max-height: 40em;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.delete-form {
  display: inline;
}
