.thumbnail img {
  width: 100%;
  height: 15em;
}
.show-thumbnail {
  padding: 0;
}
.show-thumbnail img {
  width: 100%;
  max-height: 40em;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.delete-form {
  display: inline;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.container .text-muted {
  margin: 10px 0;
}